.card img {
    width: 100%;
}

.card {
    padding: 0;
}

.delete-form{
    display: inline;
}

.forms{
    width: 40%;
    margin: 25px auto;
}

.active{
 font-weight: 500;
}

.add-form{
    border-left: 2px solid #28a745;
}

.edit-form{
    border-left: 2px solid #ffc107;
}

.warning-message{
    font-size: 1.2rem;
    font-weight: 500;
}
