.card img {
    width: 100%;
}

.card {
    padding: 0;
}

.delete-form{
    display: inline;
}

.forms{
    width: 40%;
    margin: 25px auto;
}

.sign-form{
    padding-top: 10vh;
}

.active{
 font-weight: 500;
}

.add-form{
    border-left: 2px solid #28a745;
}

.edit-form{
    border-left: 2px solid #ffc107;
}

.warning-message{
    font-size: 1.2rem;
    font-weight: 500;
}

#map{
    margin-top: 20px;
    width: 100%;
    height: 500px;
}


#index-image{
    height: 200px;
}

/* Bellow code is for campground index page -> on sm page make the card class less streched */
/* .campground-card{
    width: 50%;
}

@media (min-width: 576px) { 

    .campground-card{
        width: 100%;
    }
} */
